<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="textml;charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<title>忘记密码(05)</title>
<!--css start-->
<link href="css/style.css" rel="stylesheet"/>
<link href="css/master.css" rel="stylesheet"/>
<!--css end-->


<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body style="padding-bottom:3rem; background:#FFF;">
	<div class="Login">
    <div class="zc-logo"><a href="/index.php?s=/addon/WeiSite/WeiSite/index.html"><img src="images/5/zc-logo.png" /></a></div>
    
    <h2><strong>忘记密码</strong></h2>
		<ul>
        
       
       
	  
            <li>
            <h3>新密码：aa</h3>
				<p>
					<input maxlength="16" type="password" placeholder="6-16个字符，区大小写" />
				</p>
			</li>
            <li>
             <h3>确认密码：</h3>
				<p>
					<input maxlength="16" type="password" placeholder="6-16个字符，区大小写" />
				</p>
			</li>
			<li>
				
			</li>
			
			
			<li class="Login-Btn">
				<a href="">确定</a>
			</li>
			
		</ul>
	</div>
</body>
</html>
